@charset "UTF-8";

* {
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;height: 100vh;
    background-color: lightblue;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

main#conteudoPrincipal {
    width: 340px;height: 70vh;
    background-color: #fff;
    color: black;
    box-shadow: 3px 3px 10px black;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

#conteudoPrincipal section, div#caixa {
    width: 80%;
    margin-bottom: 10px;
}

div#caixa {
    display: flex;
    flex-direction: column;
}

input#num {
    width: 100px;
}

input#gerar {
    margin-top: 10px;
    border: 0;
    border-radius: 2px;
    background-color: #d1d1d1;
    padding: 5px;
}

input#gerar:hover {
    background-color: #d9d9d9;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.211);
}

footer {
    padding-top: 20px;
    font-weight: bold;
}